body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://wallpaperaccess.com/full/514026.jpg");
    background-size: 520px 100%;
}

div#body { 
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
    border-radius: 10px;
}

div#user-body { 
    width: 600px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
    border-radius: 10px;
    height: 300px;
}

div#icon-user {
    padding-left: 30%;
}

div.success {
    font-size: 24px;
    color: rgba(83, 141, 93, 0.726);
    background-color: rgba(152, 255, 169, 0.726);
    border-radius: 20px;
    margin-left: 10%;
    padding-left: 10px;
    width: 80%;
}

div.success i.material-icons.md-36{
    font-size: 24px;
}


div.info {
    font-size: 24px;
    color: rgba(141, 130, 83, 0.726);
    background-color:rgba(255, 231, 152, 0.726);
    border-radius: 20px;
    margin: 2px;
    padding-left: 10px;
}

div.error {
    font-size: 24px;
    color:rgba(141, 83, 83, 0.726);
    background-color: rgba(255, 152, 152, 0.726);
    border-radius: 20px;
    margin: 2px;
    padding-left: 10px;
}

div i.material-icons {
    font-size: 200px;
    color: rgb(0, 0, 0);
}

table.listing {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.listing tr {
    height: 50px;
}

table.listing td {
    border: 1px solid #f2f2f2;
    padding: 10px;
}

table.listing td span.material-icons{
    font-size: 24px;
    padding-left: 30%;
    color: #000;
}

table.listing tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.listing td:nth-child(1) {
    width: 50px;
}

table.listing td:nth-child(3) {
    width: 90px;
}

table.detais {
    width: 100%;
}

table.detais td {
    padding: 10px;
}

img.cover {
    width: 100px;
}

img.cover2 {
    width: 250px;
}

img.logo {
    padding-left: 300px;
    height: 200px;
    width: 200px;
}

img.back {
    height: 50px;
    width: 50px;
}

a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(187, 143, 0);
}

a.order {
    font-size: 15px;
    text-decoration: none;
    color: rgb(180, 138, 0);
}

header i.material-icons.md-36 {
    font-size: 36px;
    color: black;
    padding-left: 95%;
}

i.material-icons.md-48 {
    font-size: 48px;
    color: black;
}

form#search { 
    text-align: center;
}

form.user {
    padding-left: 32%;
}

footer.footer {
    text-align: center;
    font-size: 20px;
    color: rgb(255, 195, 67);
    font-weight: bold;
    text-shadow: 1px 1px rgb(29, 0, 134);
    background-color: rgba(236, 236, 236, 0.107);
    width: 450px;
    margin-left: 33%;
}

